@use 'base/variables' as v;
@use 'base/mixins' as m;

/* Animaciones y clases para hero */

.elemento-hero {
    min-width: 100%; /* Cada tarjeta ocupa el 100% del contenedor */
    transition: transform 0.5s ease; /* Transición suave al desplazarse */
}

.slider {
    display: flex; /* Usar flexbox para alinear los elementos en fila */
    overflow: hidden; /* Ocultar los elementos que se desbordan */
    width: 100%; /* Asegurarse de que el contenedor ocupe el 100% */
}

.slider-container {
    display: flex; /* Usar flexbox para alinear los elementos en fila */
    transition: transform 0.5s ease; /* Transición suave al desplazarse */
}