// Fuentes
$fuente-principal: 'Outfit', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$xl_desktop: 1200px;

// Colores
$verde950: #012d1e;
$verde900: #045033;
$verde800: #03623b;
$verde700: #007c4a;
$verde600: #008f51; //Color base UI
$verde500: #0abf6d;
$verde400: #2fd885;
$verde300: #6aeba8;
$verde200: #a4f6c6;
$verde100: #d0fbe0;
$verde50: #ebfef3;

$negro: #1a1b15;
$blanco: #FFFFFF;
$gris: #64748B;
$gris-claro: #F8FAFC;
$gris-oscuro: #1E293B;

$verde:#329f00;
$rojo: rgb(169, 0, 0);
$dorado: #F98207;

// Fuentes
$delgada: 300;
$regular: 400;
$semibold: 600;
$bold: 700;
$black: 900