@use 'base/variables' as v;
@use 'base/mixins' as m;

.mensaje {
    width: 65rem;
    background-color: rgba(v.$verde200, 0.65);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border-radius: 1rem;    
    border-left: v.$verde800 solid 1rem;
    display: flex;
    flex-direction: column;

    &__parrafo {
        font-size: 2.8rem;
        text-align: center;
        font-weight: v.$bold;
    }

    .acciones {
        margin-top: 1rem;
    }
}